*,
*::before,
*::after {
  box-sizing: inherit;
}

//
// Reset HTML, body, and more
//

html {
  box-sizing: border-box;
  font-size: $font-size-root;
  -ms-overflow-style: scrollbar;
  // Changes the default tap highlight to be completely transparent in iOS.
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  font-family: $font-family-sans-serif;
  font-size: $font-size-base;
  line-height: $line-height;
  color: $text-color;
  background-color: $body-bg;
}

// Suppress the focus outline on elements that cannot be accessed via keyboard.
// This prevents an unwanted focus outline from appearing around elements that
// might still respond to pointer events.
//
// Credit: https://github.com/suitcss/base
[tabindex="-1"]:focus {
  outline: none !important;
}

// Always hide an element with the `hidden` HTML attribute (from PureCSS).
[hidden] {
  display: none !important;
}
